.container{
    width: 100%;
}

.LeftContact{
    width: 40%;
    float: left;
}
.RightContact{
    width: 40%;
    float: left;
}
.right{
    width: 10%;
    float: left;
}
.left{
    width: 10%;
    float: left;
}
h2{
    text-align: center;
}