<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/CSS/About_US.css">
</head>
<body>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v17.0"
        nonce="1GXut5rM"></script>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<div class="header" style="position: sticky">
    <h1>About Us</h1>
</div>
<div class="container">
    <div class="content-header">
        <h1>Welcome to our little family</h1>
    </div>
    <div class="content-img">
        <img id="cp-pht" src="../public/IMG/Company_Photo.jpg" alt="no image" style="max-width: 100%">
    </div>
    <div class="content">
        <p style="text-indent: 2.5vw"> Welcome to Spirals, your ultimate gateway to exploring the captivating
            wonders of the world's historical monuments.
            With a passion for history and a commitment to providing unforgettable travel experiences, we take pride in
            curating exceptional information that delve deep into the rich tapestry of human civilization to provide you
            with the needed information for you to make the best educated choice of your journey.
        </p>
        <p style="text-indent: 2.5vw">Whether you dream of exploring the majestic pyramids of Egypt, wandering through
            the ancient ruins of Rome,
            or marveling at the intricate temples of Angkor Wat, our commitment to providing exceptional customer
            service means that we are always available to assist you, from
            helping you choose the perfect destination to answering any questions you may have along the way.
        </p>
        <p style="text-indent: 2.5vw">
            Join us on a journey of discovery as we unlock the secrets of the past and transport you to the heart of
            history. Spirals provide and invite you to embark on an adventure that will leave you with lifelong
            memories and a deeper understanding of the world's remarkable heritage.
        </p>
        <p style="text-indent: 0">
            <a href="Contact_Us.html" target="_blank">Contact us</a> today and let us guide you on a remarkable journey through time.
        </p>
    </div>
    <div class="share-Container">
        <span id="share-text"> Share us on social media </span>
        <div class="fb-share-button" data-href="Placeholder Web" data-layout="button" data-size="large">
            <a target="_blank"
               href="https://www.facebook.com/sharer/sharer.php?u=YOUR_ABOUT_US_PAGE_URL&amp;src=sdkpreparse"
               class="fb-xfbml-parse-ignore">Share</a>
        </div>
        <div class="tw-share-button">
            <a class="twitter-share-button"
               href="https://twitter.com/intent/tweet?url=YOUR_PAGE_URL&text=Check%20out%20our%20About%20Us%20page%21"
               target="_blank" data-size="large">
                Share on Twitter
            </a>
        </div>
    </div>
</div>
<script src="../JS/About_US.js"></script>
</body>
</html>