<div class="row gallery-container" id="image-gallery">
    <% const startIndex = (pageNumber - 1) * 9; %>
    <% const endIndex = Math.min(startIndex + 9, galleryImages.length); %>
    <% for (let i = startIndex; i < endIndex; i++) { %>
        <div class="col-md-4 col-sm-6 mb-4 gallery-item">
            <a href="<%= galleryImages[i] %>" data-lightbox="gallery" data-title="Image <%= i + 1 %>">
                <img src="<%= galleryImages[i] %>" class="img-fluid rounded" alt="Image <%= i + 1 %>">
            </a>
        </div>
    <% } %>
</div>
