<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/CSS/magnific-popup.css">
    <title>Gallery</title>
</head>
<body>
<div class="container">
    <div class="row" id="image-gallery">
        <% galleryImages.forEach(imageURL => { %>
            <div class="col-md-4 col-sm-6 mb-4">
                <a href="<%= imageURL %>" class="image-link">
                    <img src="<%= imageURL %>" class="img-fluid rounded" alt="Gallery Image">
                </a>
            </div>
        <% }); %>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="../public/JS/jquery.magnific-popup.js"></script>
</body>
</html>
