<!DOCTYPE html>
<html lang="en">
<head>
    <title>Query Results</title>
    <link rel="stylesheet" type="text/css" href="/CSS/About_US.css">
</head>
<body>
<h1>Query Results</h1>
<h3><%= results[0].name %></h3>
<p><%= results[0].description %></p>
<img class="testcover" src=<%= results[0].cover %> >
</body>
</html>
