body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-image: url('../IMG/Kyoto_Shrine.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px 0;
    background-color: #f1f1f1; /* Fallback background color */
    height: 70vh;
}

.header h1 {
    color: white;
    font-size: 4vw;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 100px 0 0;
}


.container {
    max-width: 80%;
    margin: 0 auto;
    padding-top: 1vh;
}

.content {
    background-color: #f1f1f1;
    padding: 1.5vw;
    text-align: left;
    margin: 1vh auto;
    font-size: 20px;
    box-shadow: 5px 5px lightgrey;
}

p {
    color: #666;
    line-height: 1.6;
    text-indent: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}

.content-img {
    text-align: center;
    margin-top: 1vw;
}

.content-header {
    text-align: center;
    font-size: 2vmax;
}

.fb-share-button {
    vertical-align: middle;
    horiz-align: right;
    float: right;
    margin-right: 5px;
    display: block;
}

.fb-share-button:hover {
    opacity: 0.7;
}

.tw-share-button {
    vertical-align: middle;
    horiz-align: right;
    float: right;
    margin-right: 5px;
    display: block;
}

.tw-share-button:hover {
    opacity: 0.7;
}

#cp-pht {
    opacity: 0; /* Initially hidden */
    transform: translateX(-100%); /* Off-screen position */
    transition: opacity 1s ease, transform 1s ease; /* Animation duration and easing */
}

a {
    text-decoration: none; /* Remove underline from the anchor tag */
    background-color: red;
}

.share-Container {
    background-color: #f1f1f1;
    display: flex;
    float: right;
    padding: 10px 10px;
    justify-content: center;
    box-shadow: 5px 5px lightgrey;
    margin: 5px 0 20px;
}

#share-text {
    display: block;
    float: left;
    margin: 5px 5px 0 0;
    color: #666;
}

@media (max-width: 640px) {
    p{
        text-align: left;
    }
}