body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.head-bar{
    clear: both;
}

.header-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.img-container {
    height: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    background-image: url('../IMG/Contact_US.jpg');
    background-size: cover;
    background-position: center 20%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

label {
    color: #000080;
}

.text-overlay {
    /* Remove transform and top/left properties */
    text-align: center;
    color: white;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    height: 100%;
    padding: 20px;
}


.text-overlay h1 {
    font-size: 40px;
    margin-bottom: 20px;
    text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.25);
    padding: 30px;
    border-radius: 12px;
}

.text-overlay p {
    font-size: 18px;
    margin-bottom: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.container{
    max-width: 80%;
    height: 100%;
    margin: 0 auto;
    padding-top: 1vh;
}

.Contact {
    box-shadow: 5px 5px lightgrey;
    background-color: #c7e2ff;
    border-radius: 12px;
}

.LeftContact{
    width: 100%;
    float: left;
    margin: 10px 2% 10px 1% ;
    padding: 1.5vw;
}
.RightContact{
    width: 100%;
    float: left;
    padding: 1.5vw;
    margin: 10px 0 10px 1%;
}

.Contact p {
    color: black;
    line-height: 1.6;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    font-size: 20px;
}

 .map {
     position: relative;
     width: 100%;
     padding-bottom: 56.25%; /* Set the aspect ratio (16:9 for example) */
     background-color: #f1f1f1; /* Set the background color */
 }

.map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#contact-form {
    padding: 20px;
    margin: auto;
    text-align: justify;
    font-size: 20px;
    line-height: 1.35;
}

#submitBTN {

}

.footer {
    clear: both;
}

input {
    width: 100%;
}

#msg {
    width: 100%;
    height: 100%;
}