.carousel-item img {
    object-fit: cover;
    height: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.carousel-caption {
    text-align: left;
    position: absolute;
    left: 0;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    padding: 18vh 15px 15px 5vw;
    font-size: 2vw;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), transparent);
    height: 100%;
}

.header-caption {
    font-size: 4.5vw;
    font-weight: bold;
}

@media (max-width: 992px) {
    .carousel-item img {
        height: 500px;
    }
}

@media (max-width: 768px) {
    .carousel-item img {
        height: 400px;
    }

    .carousel-caption {
        width: 80%;
    }

    .header-caption {
        font-size: 6vw;
    }
}

.carousel-indicators {
    display: none
}

.carousel-control-prev, .carousel-control-next {
    display: none
}