<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.0-beta3/css/bootstrap.min.css">
    <title>Responsive Footer</title>
    <link rel="stylesheet" href="/CSS/Footer.css">
</head>

<body>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>About Us</h5>
                <p>Discover history's wonders with Spirals. Unforgettable journeys through time.</p>
                <p>Click <a style="color: crimson" href="/about">here</a> to find out more about us.</p>
            </div>
            <div class="col-md-4 text-center">
                <h5>Destinations</h5>
                <p>Click <a style="color: #007bff;" href="/all">here</a> to find out more about popular destinations</p>
            </div>
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <p>Số 8A Tôn Thất Thuyết, Mỹ Đình, Nam Từ Liêm <br>
                    Hà Nội, Việt Nam <br>
                    <i class="fa fa-envelope"></i> <a
                            href="mailto:nhattruong5114@gmail.com">nhattruong5114@gmail.com</a> <br>
                    <i class="fa fa-phone-square"></i> <a href="tel:0123456789">02432321284</a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p>&copy; 2023 Spirals. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.0-beta3/js/bootstrap.bundle.min.js"></script>
</body>

</html>
