<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Navbar</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.0-beta3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/CSS/NavBar.css">
</head>
<body ng-app='myApp' ng-controller='DropdownController'>
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand" href="/home">
            <img src="IMG/spirals.png" alt="Logo" class="logo">
        </a>
        <div class="navbar-search">
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
        </div>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="/home">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="designationDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Destinations
                    </a>
                    <div class="dropdown-menu" aria-labelledby="designationDropdown" id="destinationsMenu">
                        <ul>
                            <li ng-repeat="continent in continents">
                                <a class="dropdown-item continent" href="#" data-continent-id="{{ continent.id }}" ng-click="showSubmenu($event)">
                                    {{ continent.name }}
                                </a>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="monument in continent.monuments">
                                        <a class="dropdown-item" href="#">{{ monument.name }}</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<script src="https://code.angularjs.org/1.8.2/angular.min.js"></script>
<script src="https://code.angularjs.org/1.8.2/angular-sanitize.min.js"></script>
<script src="JS/dropdown_menu.destinations.angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.0-beta3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
